{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IGYM Fitness Club</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">IGYM<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="/about">About us</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="/services">Services</a></li> -->
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Memberships</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/join">Enroll</a></li>

              <li><a href="/attendance">Workouts</a></li>

              <li><a href="/profile">View Profile</a></li>
            </ul>
          </li>

          {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>


          {% endif %}





        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      {% if request.user.is_authenticated %}
      <a href="/" class="get-started-btn scrollto">Welcome</a>
      {% endif %}
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Start Now Stop Never <span>.</span></h1>
          <h2>Join IGYM Fitness Club </h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-store-line"></i> -->
            <h3><a href="">Biceps | Triceps</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-bar-chart-box-line"></i> -->
            <h3><a href="">Back</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-calendar-todo-line"></i> -->
            <h3><a href="">Shoulders</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-paint-brush-line"></i> -->
            <h3><a href="">Chest</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-database-2-line"></i> -->
            <h3><a href="">Legs</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/1703092.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Bodybuilding
            </h3>
            <p class="fst-italic">
              Bodybuilding can be defined as the use of weightlifting training in order to improve the muscles of the
              body, and the individual can be defined as a bodybuilder when practicing this sport and converting it into
              a lifestyle, and can train in local gyms, and can also participate in national and international
              bodybuilder competitions, and the concept of bodybuilding is based on interest in getting a muscular body
              specifically, not focusing on health or sports.


            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> They give the body a beautiful appearance.

              </li>
              <li><i class="ri-check-double-line"></i>Tighten the body and rid it of harmful fats.

              </li>
              <li><i class="ri-check-double-line"></i> Raises the levels of burning sugar and calories in the body.


              </li>
            </ul>
            <p>
              <!-- Bodybuilding began by the ancient Greeks, and was a source of inspiration for many peoples later, then
              began to establish modern bodybuilding competitions by European theaters and circus shows since the late
              nineteenth century, and the first bodybuilding competition was organized in 1903, in New York City by
              physical education specialist Bernard McFadden, and won by the "Triloire" and called him "the most
              sophisticated man in the world". -->


            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/1.jpg" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="static/assets/img/2.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/3.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/4.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/5.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/6.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/7.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/8.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/assets/img/wp4656532.jpg");'
            data-aos="fade-right">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <!-- <i class="bx bx-receipt"></i> -->
              <h4>Professional bodybuilding</h4>
              <p>In the modern bodybuilding industry, the term "professional" generally means a bodybuilder who has won
                qualifying competitions as an amateur and has earned a "pro card" from their respective organization.
              </p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <!-- <i class="bx bx-cube-alt"></i> -->
              <h4>Natural bodybuilding</h4>
              <p>Due to the growing concerns of the high cost, health consequences, and illegal nature of some steroids,
                many organizations have formed in response and have deemed themselves "natural" bodybuilding
                competitions.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <!-- <i class="bx bx-images"></i> -->
              <h4>Men's physique</h4>
              <p>Due to those who found open-bodybuilding to be "too big" or "ugly" and unhealthy, a new category was
                started in 2013.[30] The first Men's Physique Olympia winner was Mark Wingson, who was followed by
                Jeremy Buendia for four consecutive years.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <!-- <i class="bx bx-shield"></i> -->
              <h4>Classic physique</h4>
              <p>This is the middle ground of both Men's Physique and Bodybuilding. The competitors in this category are
                not nearly as big as bodybuilders but not as small as men's physique competitors. </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Machines</h2>
          <p>Best Cardio Machine</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <h4><a href="">Treadmill</a></h4>
              <p>“Running is a total-body cardio workout,” said Katz. “I would recommend a treadmill workout as a great
                indoor option for those who enjoy both running and walking.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="">Stationary bike
                </a></h4>
              <p>The “indoor bike is going to be lower-body centric in a seated position,” said Katz. “I definitely
                recommend it to anyone who enjoys outdoor biking and who wants a cardio workout without pounding on the
                joints. It also serves as a cross-training option for runners."</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <h4><a href="">Elliptical
                </a></h4>
              <p>“I recommend this as a cross-trainer for runners, as well as anyone who wants a lower-impact option for
                a great cardio workout,” said Katz.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
              <h4><a href="">StairMaster
                </a></h4>
              <p>The endless loop of stairs makes for a challenging workout. “It is both a great cardio and strength
                option, especially when you use your arms as opposed to holding on to the handlebars or leaning,” said
                Katz.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-slideshow"></i></div> -->
              <h4><a href="">Rowing machine
                </a></h4>
              <p>The rowing machine — or ergometer (erg, for short) — “is an all-encompassing machine, offering the
                caliber of endurance and stamina that the treadmill gives you, as well as providing a low-impact
                experience for your joints,” says Caley Crawford, personal trainer and Director of Education for Row
                House. “The amount of muscular activation (85 percent) in rowing is higher than other activities using
                machines like the treadmill or elliptical.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-arch"></i></div> -->
              <h4><a href="">VersaClimber
                </a></h4>
              <p>Vertical climbing machines — like the VersaClimber — are designed to mimic a natural climbing motion.
                “This is another great ‘uphill’ or hiking style cardio and strength workout that engages your total
                body, actively using both upper and lower body,” said Katz. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Arnold Schwarzenegger Says :</h3>
          <p> “If you don’t find the time, if you don’t do the work, you don’t get the results.” </p>
          <a class="cta-btn" href="#">Motivation</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.4688428990016!2d35.85304765961796!3d32.54033037387267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c772db44b3b79%3A0x253d2bb9b707ad94!2zSSBneW0g2YTZhNmK2KfZgtipINin2YTYqNiv2YbZitipINmI2KjZhtin2KEg2KfZhNij2KzYs9in2YU!5e0!3m2!1sar!2sjo!4v1694609319667!5m2!1sar!2sjo"
            frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Irbid-University Street-opposite Al-Joud Hotel</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ahmadabuein10@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+962 788615416</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="POST" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>IGYM<span>.</span></h3>
              <p>
                Irbid-University Street <br>
                -opposite Al-Joud Hotel<br><br>
                <strong>Phone:</strong> +962 788615416<br>
                <strong>Email:</strong> ahmadabuein10@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="POST">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>IGYM</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>